@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800&display=swap');

:root {
    --cor1: #3FB1DC;
    --cor2: #413E66;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    background-color: #E5E5E5;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin: 10px 90px 0px 90px;
}

.cabecalho-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: var(--cor2);
    font-size: 35px;
    width: 100%;
    margin-left: 80px;
}

a:visited, a:active {
    color: var(--cor2);
    text-decoration: none;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
    font-family: 'Montserrat', sans-serif;
    color: var(--cor2);
    font-weight: 600;
    font-size: 14px;
}

.nav-item {
    text-decoration-line: none;
}

.nav-item:hover {
    color: var(--cor1);
}

.container {
    min-height: 100vh;
    margin: 140px 10px 0px 10px;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 190px;
    gap: 70px;
}

.div-main{
    display: flex;
    flex-direction: column;
    gap: 22px;

}

.main-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 45px;
    color: var(--cor2);
}

h1 > span {
    color: var(--cor1);
}

button {
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.botao-top {
    display: flex;
    gap: 15px;
}

#botao-saibamais {
    background-color: var(--cor1);
    width: 145px;
    height: 38px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

#botao-faq {
    background-color: #0A98C0;
    width: 97px;
    height: 38px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}

.container-about {
    display: flex;
    justify-content: center;
    padding-top: 220px;
}

.div-about {
  text-align: center;
}

#text-about {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: var(--cor2);
}

#p-about {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 10px;
    color: var(--cor2);
}

.box {
    display: flex;
    justify-content: center;
    gap: 180px;
    padding-top: 70px;
}

.box-protect {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding-top: 20px;
    width: 295px;
    height: 284px;
    opacity: 0.8;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.247);
    border-radius: 15px;
}

.box-protect > h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 19px;
    text-align: center;
}

.box-protect > p {
    font-family: 'Montserrat', sans-serif;
    margin: 30px 20px 10px 20px;
    font-size: 15px;
    color: black;
    
}

.box-entrega {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding-top: 20px;
    width: 295px;
    height: 284px;
    opacity: 0.8;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.247);
    border-radius: 15px;
}

.box-entrega > h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 19px;
    text-align: center;
}

.box-entrega > p {
    font-family: 'Montserrat', sans-serif;
    margin: 30px 20px 10px 20px;
    font-size: 15px;
    color: black;
    
}

.box-optimization {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding-top: 20px;
    width: 295px;
    height: 284px;
    opacity: 0.8;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.247);
    border-radius: 15px;
}

.box-optimization > h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 19px;
    text-align: center;
}

.box-optimization > p {
    font-family: 'Montserrat', sans-serif;
    margin: 30px 20px 10px 20px;
    font-size: 15px;
    color: black;
    
}

.img-box {
    width: 120px;
}

.faq {
    display: flex;
    justify-content: center;
    padding-top: 300px;
}

.faq-text {
    text-align: center;
}

.faq-text > h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: var(--cor2);
}

.faq-text > p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 0px 30px 0px;
    color: var(--cor2);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    height: 100px;
}

footer > h1 {
    font-family: 'Montserrat', cursive;
    font-weight: 400;
    font-size: 35px;
    color: #413E669C;
}

footer > p {
    font-family: 'Montserrat', cursive;
    font-weight: 600;
    font-size: 13px;
    color: #00000094;
}
