@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

:root {
    --cor1: #3FB1DC;
    --cor2: #413E66;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    background-color: #E5E5E5;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin: 0px 90px 0px 90px;
}

.cabecalho-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: var(--cor2);
    font-size: 35px;
    width: 100%;
    margin-left: 80px;
}

a:visited, a:active {
    color: var(--cor2);
    text-decoration: none;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
    font-family: 'Montserrat', sans-serif;
    color: var(--cor2);
    font-weight: 600;
    font-size: 14px;
}

.nav-item {
    text-decoration-line: none;
}

.conteudo {
    min-height: 100vh;
    margin: 90px 10px 0px 10px;
}

.conteudo-principal {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.div-principal{
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.conteudo-principal-escrito {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 45px;
    color: var(--cor2);
}

h1 > span {
    color: var(--cor1);
}

button {
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.botao-top {
    margin-right: 50px;
}

#botao-saibamais {
    background-color: var(--cor1);
    width: 145px;
    height: 38px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

#botao-faq {
    background-color: #0A98C0;
    width: 97px;
    height: 38px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}




